$palette: (
  white: #fff,
  grey: #4e4e4e,
  grey2: #565656,
  blue: #86d3f4,
  black: #000000,
);

$light-theme: (
  def: map-get($palette, white),
  notActive: map-get($palette, grey),
  banner: map_get($palette, blue),
  text: map_get($palette, black),
  personal: map_get($palette, grey2),
);
