@import 'color';

*,
*:after,
*:before {
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

.promo_active {
  opacity: 1;
}

.promo_disabled {
  opacity: 0;
}

:root {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
  color-scheme: light;
}

:root[color-scheme='light'] {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
  color-scheme: light;
}
