.customButton {
  font-weight: 500;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main2);
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}

.isClose {
  background-color: var(--def);
  fill: var(--main2);
}

.isClose:hover,
.isClose:focus {
  background-color: var(--main2);
  color: var(--main2);
  fill: var(--def);
}

.isBackSpace {
  min-width: 18.2rem;
}

.customButton:hover,
.customButton:focus {
  background-color: var(--main2);
  color: var(--def);
}

.customButton:disabled {
  pointer-events: none;
  border-color: var(--disabled);
  color: var(--disabled);
  cursor: default;
}

.isPromo {
  width: 15.6rem;
  height: 5.2rem;
  background-color: var(--main2);
  color: var(--main1);
  transition: 0.3s;
}
.isPromo:hover {
  background-color: var(--main1);
  color: var(--main2);
}
